<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by nombre"
        [(ngModel)]="nombre"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchNombre()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de categorias</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let categoria of categorias; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCategoria(categoria, i)"
      >
        {{ categoria.nombre }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCategorias()">
      Remover todos
    </button>
  </div>
  <div class="col-md-6">
    <app-categoria-details
      [viewMode]="true"
      [currentCategoria]="currentCategoria"
    ></app-categoria-details>
  </div>
</div>